#add-movie-input{
    margin:10px;
    width: 300px;
}

.add-movie-container {
        display: flex;
        width: 100vw;
        height: 100vh;
        place-items: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}