.add-screening-form
{
    display: flex;
    width: 100vw;
    height: 100vh;
    place-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#add-screening-input{
    width: 150px;
    margin: -5px;
}