@import url('https://unpkg.com/css.gg@2.0.0/icons/css/eye.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/eye-alt.css');

.login-form {
    width: 300px;
    padding: 300px;
    background-color: #FF3F3F;
    box-shadow: 0 0 10px 0 #00000033;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #007BFF;
}

.input-container {
    position: relative;
    width: 320px;
    display: flex;
}

.input-container input {
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
}
.toggle-password {
    position: absolute;
    right: 10px;
    bottom: -5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}