.myTicket-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.myTicket-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.myTicket-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.myTicket-card-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.myTicket-card-image {
    max-width: 80px;
    max-height: 80px;
    border-radius: 5px;
}

.myTicket-card-info {
    text-align: center;
}

.myTicket-card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.myTicket-card-detail {
    font-size: 0.9em;
    margin: 5px 0;
}

.myTicket-card-seat {
    font-size: 0.85em;
    margin: 3px 0;
}
