body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    width: 300px;
    padding: 30px;
    background-color: #ba2b2b;
    box-shadow: 0px 0px 10px 0px #00000033;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}
.register-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #007BFF;
}