

.register-form {
    width: 300px;
    padding: 30px;
    background-color: #FF3F3F;
    box-shadow: 0 0 10px 0 #2c2c2c;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}
.register-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #007BFF;
}