.screening-card {
    display: flex;
    align-items: center;
    background-color: #282c34;
    margin: 1rem;
    border-radius: 10px;
}

.screening-info {
    flex: 1;
    padding-right: 0px;
}

.screening-info .movie-card img {
    width: 100%;
    transition: opacity 0.3s ease;
}

.screening-info .movie-card img:hover {
    opacity: 0.25;
}

.screening-dates {
    display: flex;
    flex-direction: column;
}

.screening-dates button {
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 7px 10px;
    cursor: pointer;
}

