.seat-selection-panel {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    padding: 2rem;
    text-align: center;
}

.seats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seat-row {
    margin-bottom: 20px;
}

.seat-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}

.seat {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 100px;
    height: 50px;
}

.seat.selected {
    background-color: limegreen;
    color: #fff;
}

.seat:hover {
    border-color: #646cff;
}

@media (prefers-color-scheme: light) {
    .seat-selection-panel {
        color: #213547;
        background-color: #ffffff;
    }

    .seat {
        background-color: #f9f9f9;
        color: #1a1a1a;
    }

    .seat.selected {
        background-color: #747bff;
        color: #fff;
    }

    .seat:hover {
        border-color: #747bff;
    }
}

button.disabled{
    background-color: red;
    color: white;
}
button.disabled:hover{
    background-color: red;
    color: white;
    border:none;
    cursor: not-allowed;

}

.seat-selection-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.seat-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.seat-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
